<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Grę</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/jQuery/jquery-1.11.1.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <style>
        span.glyphicon-pencil:hover{
            cursor: pointer;
        }
    </style>

</head>
<body>

{%if flag == 'false'%}
{%set file = "alert alert-danger" %}
{%elseif flag =='true'%}
{%set file = "alert alert-success" %}
{%endif%}



<div class="container">
    <div class="text-center {{file}}">{{communicate}}</div>
    <div class="col-xs-12">
        <h2>Twoje Gry:</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>

            <th>ID</th>
            <th>NAZWA</th>
            <th>KATEGORIA</th>
            <th>AUTOR</th>
            <th>DATA WYDANIA</th>
            <th>CENA</th>
            <th>ZDJĘCIE</th>
            <th>ILOŚć SZTUK</th>

        </tr>
        </thead>
        <tbody>
        {%set id=''%}
        {%for game in games%}
        <tr>
            <td>
                {%set id = game.getId()%}
                {{id}}
            </td>
            <td>
                {{game.getName()}}
            </td>
            <td>
                {{game.getCategory()}}
            </td>
            <td>
                {{game.getAuthor()}}
            </td>
            <td>
                {{game.getDataRelease()}}
            </td>
            <td>
                {{game.getPrice()}}
            </td>
            <td>

                {{game.getPhoto()}}
                <span class="glyphicon glyphicon-pencil" data-id="{{id}}" data-toggle="modal" data-target="#modal-image"></span>
            </td>
            <td>
                {{game.getAvailableItems()}}
            </td>
            <td>
                <a href="?action=store&removeGame={{game.getId()}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div class="col-xs-12">
        <a href="?action=adminMain" class="text-left">Wstecz</a>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-image">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Zmień obrazek</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <input type="file" name="file">
                            <input type="hidden" name="photoId" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-lg btn-block btn-success ">Zapisz</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="js/myScripts/getd.js"></script>
</body>
</html>
