<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Grę</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
</head>
<body>

{%if flag == 'false'%}
{%set file = "alert alert-danger" %}
{%elseif flag =='true'%}
{%set file = "alert alert-success" %}
{%endif%}

<div class="container">
    <div class="text-center {{file}}">{{communicate}}</div>
    <div class="col-xs-12">
        <h2>Dodaj Grę:</h2>
    </div>
    <form class="form-horizontal" action="" method="post">
        <div class="form-group">
            <label for="name">Nazwa gry</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="nazwa gry">
        </div>
        <div class="form-group">
            <label for="author">Wydawca</label>
            <input type="text" name="author" class="form-control" id="author" placeholder="Wydawca">
        </div>
        <div class="form-group">
            <label for="data_release">Data wydania</label>
            <input type="date" name="data_release" class="form-control" id="data_release" placeholder="data wydania">
        </div>
        <div class="form-group">
            <label for="price">Cena</label>
            <input type="text" name="price" class="form-control" id="price" placeholder="cena">
        </div>
        <div class="form-group">
            <label for="available_items">Dostępne egzemplarze</label>
            <input type="text" name="available_items" class="form-control" id="available_items" placeholder="ilość">
        </div>
        <div class="form-group">
            <label for="id_category">Wybierz kategorie</label>
            <select name="id_category" id="id_category" class="form-control">
                {%for category in categories%}
                <option value="{{category.getIdCategory()}}">{{category.getCategory()}}</option>
                {%endfor%}
            </select>
        </div>
        <!--<div class="form-group">
            <label for="photo">dodaj zdjęcie</label>
            <input type="file" name="photo" class="form-control" id="photo">
        </div>
        -->

        <button type="submit" class="btn btn-success">Dodaj grę</button>
    </form>

    <div class="col-xs-12">
        <a href="?action=adminMain" class="text-left">Wstecz</a>
    </div>
</div>
</body>
</html>
