<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/adminPanel/adminPanel.css">

</head>
<body>
<div class="wrapper col-lg-5">

    <div class="row">

        {%if flag == 'false'%}
        {%set file = "alert alert-danger" %}
        {%endif%}

        <div class="text-center {{file}}">{{communicate}}</div>

        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <input type="text" class="form-control" name="login" value="{{login}}" placeholder="login">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <input type="password" class="form-control" name="password" placeholder="hasło">
                </div>
            </div>

            <div class="col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-lg btn-block btn-success ">Zaloguj</button>
            </div>

        </form>
        <div class="col-sm-offset-2 col-sm-8">
            <a href="?action=newPassword">Zapomniałem hasła</a>
        </div>
    </div>
    <div class="form-group">



    </div>

</div>
</body>
</html>