<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zamówienia</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
</head>
<body>

{%if flag == 'false'%}
{%set file = "alert alert-danger" %}
{%elseif flag =='true'%}
{%set file = "alert alert-success" %}
{%endif%}

<div class="container">
    <div class="text-center {{file}}">{{communicate}}</div>

    <div class="col-xs-12">
        <h2>Twoje Zamówienia:</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>

            <th>ID</th>
            <th>użytkownik</th>
            <th>data</th>
            <th>ilość</th>
            <th>tytuł</th>
            <th>cena</th>
            <th>kategoria</th>
            <th>realizacja</th>


        </tr>
        </thead>
        <tbody>
        {%for order in orders%}
        <tr>
            <td>
                {{order.getOrderId()}}
            </td>
            <td>
                {{order.userName()}}
            </td>
            <td>
                {{order.getOrderDate()}}
            </td>
            <td>
                {{order.getCount()}}
            </td>
            <td>
                {{order.getName()}}
            </td>
            <td>
                {{order.getPrice()}}
            </td>
            <td>
                {{order.getCategory()}}
            </td>
            <td>
                <form method="post" action="">


                <select name="isExecuted">
                    {%if order.getIsExecuted=='do zrealizowania'%}
                    <option disabled selected>{{order.getIsExecuted()}}</option>
                    <option value="zrealizowane">zrealizowane</option>
                    {%elseif order.getIsExecuted=='zrealizowane'%}
                    <option disabled selected>{{order.getIsExecuted()}}</option>
                    <option value="do zrealizowania">do zrealizowania</option>
                    {%endif%}
                </select>
                    <input type="hidden" name="orderId" value="{{order.getOrderId()}}">
                    <button class="btn btn-success">Potwierdź</button>
                </form>
            </td>


        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div class="col-xs-12">
        <a href="?action=adminMain" class="text-left">Wstecz</a>
    </div>
</div>
</body>
</html>