<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Kategorię</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
</head>
<body>

{%if flag == 'false'%}
{%set file = "alert alert-danger" %}
{%elseif flag =='true'%}
{%set file = "alert alert-success" %}
{%endif%}

<div class="container">
    <div class="text-center {{file}}">{{communicate}}</div>
    <div class="col-xs-12">
        <h2>Dodaj kategorie:</h2>
    </div>
    <form class="form-inline" action="" method="post">
        <div class="form-group">
            <label for="category">Kategoria</label>
            <input name="category" type="text" class="form-control" id="category" placeholder="Wpisz kategorię">
        </div>

        <button type="submit" class="btn btn-success">Dodaj kategorię</button>

    </form>
    <div class="col-xs-12">
        <h2>Twoje kategorie:</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>

            <th>ID</th>
            <th>KATEGORIA</th>

        </tr>
        </thead>
        <tbody>
        {%for category in categories%}
        <tr>
            <td>
                {{category.getIdCategory()}}
            </td>
            <td>
                {{category.getCategory()}}
            </td>
            <td>
                <a href="?action=addCategory&removeCategory={{category.getIdCategory()}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div class="col-xs-12">
        <a href="?action=adminMain" class="text-left">Wstecz</a>
    </div>
</div>
</body>
</html>