<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panel Admina</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="col-xs-offset-3 col-xs-6">
        <h2 class="text-center">Zalogowałeś się jako: {{admin}}</h2>
    </div>
    <div class="col-xs-offset-3 col-xs-6">
        <a href='?action=addCategory'  class="btn btn-success btn-block btn-lg">Dodaj kategorię</a>
    </div>
    <div class="col-xs-offset-3 col-xs-6">
        <a href='?action=addGame'  class="btn btn-success btn-block btn-lg">Dodaj Grę</a>
    </div>
    <div class="col-xs-offset-3 col-xs-6">
        <a href='?action=orders' class="btn btn-success btn-block btn-lg">Zamówienia</a>
    </div>
    <div class="col-xs-offset-3 col-xs-6">
        <a  href='?action=store' class="btn btn-success btn-block btn-lg">Stan Magazynu</a>
    </div>
    <div class="col-xs-12 text-right">
        <a href="?action=logOut" >Wyloguj</a>
    </div>
</div>


</body>
</html>