<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wybierz grę</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

</head>
<body>
{%if flag == 'false'%}
{%set file = "alert alert-danger" %}
{%elseif flag =='true'%}
{%set file = "alert alert-success" %}
{%endif%}
<div class="container">
    <div class="text-center {{file}}">{{communicate}}</div>
    <h2 class="col-xs-12 text-center">Wybierz grę</h2>

            <form class="form-horizontal col-sm-4" action="" method="post">

                <div class="form-group">
                    <label for="email">Podaj e-mail</label>
                    <input type="email" name="mail" id="email" class="form-control" placeholder="wpisz e-mail">
                </div>

                <button type="submit" class="btn btn-success btn-block">KUP</button>
            </form>



    <div class="col-xs-12">
        <a href="?action=index" class="text-left">Wstecz</a>
    </div>

    </div>




</body>
</html>