<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wybierz grę</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <style>
        img {
            width: 100%;
            height: 300px;
        }
    </style>
</head>
<body>
<div class="container">

    <h2 class="col-xs-12 text-center">Wybierz grę</h2>
    <div class="col-xs-12">
        {%for game in games%}
        <div class="col-sm-offset-1 col-sm-3">
            <img src="{{game.getPhoto()}}" alt="picture">
            <h3 class="text-center">{{game.getName()}}</h3>
            <p class="text-center"><strong>Kategoria: </strong>{{game.getCategory()}}</p>
            <p class="text-center"><strong>Wydawca: </strong>{{game.getAuthor()}}</p>
            <p class="text-center"><strong>Cena: </strong>{{game.getPrice()}}</p>


            <form class="form-horizontal" action="?action=finish" method="post">
                    <input type="hidden" name="id" value="{{game.getId()}}">
                <div class="form-group text-center">
                    <p ><strong>dostępne sztuki: </strong>{{game.getAvailableItems()}}</p>
                    <select name="available_items">
                        {%for i in 1..game.getAvailableItems%}
                        <option value="{{i}}">{{i}}</option>
                        {%endfor%}
                    </select>
                </div>
                <button type="submit" class="btn btn-success btn-block">KUP</button>
            </form>
        </div>
                {%endfor%}



    </div>
    <div class="col-xs-12">
        <a href="?action=index" class="text-left">Wstecz</a>
    </div>
</div>


</body>
</html>