<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <style>
        div.category{
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-xs-12 text-right">
        <a href="?action=logIn">Panel Admina</a>
    </div>
    <div class="clearfix"></div>
    <h2 class="col-xs-12 text-center">Witaj w naszm nowym sklepie z grami.</h2>
    <h2 class="col-xs-12 text-center">Wybierz kategorię, aby przejść do kolejnego kroku</h2>
    <div class="col-xs-12">
        {%for category in categories%}

        <div class="col-sm-offset-1 col-sm-3 category">
            <a class="btn btn-success btn-block btn-lg" href="?action=games&category={{category.getCategory}}">
                <h3>{{category.getCategory()}}</h3>
            </a>
        </div>

        {%endfor%}

    </div>
</div>


</body>
</html>