body {
  margin: 30px 0;
  display: -webkit-flex;
  align-items: center;
  justify-content: center; }
  body div.wrapper {
    border: 1px solid #00a551;
    border-radius: 25px;
    padding: 30px 30px;
    background-color: #00a551; }
    body div.wrapper a {
      color: white; }

/*# sourceMappingURL=adminPanel.css.map */
